<!DOCTYPE html>
<html>
    <head>
        <meta name="description" content="website">
        <meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
        <link rel="stylesheet" href="/css/style.css">
        <title>Aplikasi Penjualan Sederhana</title>
        <script src="/send_url.js"></script>
    </head>
    <body>
        <div class="top-wrapper">
            <div class="top-detail">
                <h1 class="title">Data Penjualan</h1>
                <p class="desc">data yang diambil dari database</p>
                <a href="/produk" class="index-button">Lihat Produk</a>
                <a href="/transaksi" class="index-button">Lihat Transaksi</a>    
            </div>
            <div class="top-image">
                <img src="/images/Ga tau siapa namanya.png">
            </div>
        </div>
    </body>
</html>