<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Transaksi</title>
    <link rel="stylesheet" href="/css/style.css">
    <script src="/send_url.js"></script>
</head>
<body>
    <header>
        <a href="/" class="header-logo">Produk</a>
    </header>
    <div class="container">
        <div class="container-header">
            <h1>Daftar Produk</h1>
        </div>
        <div class="index-table-wrapper">
            <div class="table-head">
                <span class="id-column">No</span>
                <span class="item-column">Item</span>
                <span class="qty-column">qty</span>
                <span class="price-column">price</span>
            </div>
            <table class="table-body">
                <% produk.forEach((item) => { %>
                    <tr>
                            <td class="id-column"><%= item.No %></td>
                            <td class="item-column"><%= item.Item %></td>
                            <td class="qty-column"><%= item.qty %></td>
                            <td class="price-column"><%= item.price %></td>
                    </tr>
                <% }) %>
            </table>
        </div>
    </div>
</body>
</html>